body {
    font-family: system-ui;
    color: white;
    text-align: center;
    background-color: black;
    height: 500px;
    background-image: url("drbwb.jpg");
    margin: 100px,40px,20px,70px;
  }

  h1{
      font-style: italic;
      color: chocolate;
  }
a:visited{
    color: cyan ; background-color: darkblue; text-decoration-style: double;
}
a:hover{
    color: darkgrey; background-color: darkslategray;
}